* {
    padding: 0;
    margin: 0;
}

nav.navbar.navbar-expand-lg {
    position: absolute;
    content: "";
    background: none;
    top: 0px;
    left: 30px;
    max-width: 1250px;
    color: white;
    margin: auto;
    z-index: 10;
}

.navbar-expand-lg .navbar-nav {
    margin-left: 28px;
    font-family: "AlegreyaSans";
    font-size: 17px;
    font-weight: 400;
}

ul.dropdown-menu.show {
    background-color: #ecc9ae;
}

ul.dropdown-menu.show {
    font-family: "Overlock";
    font-size: 17px;
    font-weight: 400;
}

hr {
    background-color: #ffffff !important;
    width: 2px;
    height: 21px;
}

.navbar-collapse .close-btn {
    display: none;
}

/* Section1 starts */
.section1 {
    background-image: url("/assets/Images/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.section1container {
    max-width: 766px;
    margin: auto;
    padding: 190px 3px 122px;
}

.section1 h2 {
    font-family: "overpass";
    font-weight: 700;
    font-size: 70px;
    color: #fff;
}

.content {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.content h6 {
    color: #fff;
    font-family: "overlock";
    font-size: 18px;
    font-weight: 400;
}

.content img {
    margin-bottom: 10px;
}

.section1inner2 span {
    font-family: "overlock";
    font-size: 18px;
    font-weight: 400;
}

.inner1hr {
    width: 36px;
    height: 1px;
    background-color: white;
    border: none;
    margin: 0 10px;
    background-color: #92c024 !important;
    opacity: 1 !important;
}

.section1text h6 {
    padding: 2px 0px 0px;
}

.navbar hr {
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 1.25;
}

.section1inner2 {
    position: relative;
    top: 110px;
}

.slick-dots {
    transform: rotate(270deg);
    bottom: 77px !important;
    right: -80%;
}

.section1inner .slick-dots li button:before {
    content: '';
    width: 8px;
    height: 4px;
    background: #ffffff;
    opacity: 1;
    border-radius: 2px;
    transition: all 0.3s ease;

}

.section1inner .slick-dots li.slick-active button:before {
    content: '';
    position: absolute;
    width: 46px;
    height: 5px;
    background: #fdd685;
    top: 11%;
    left: -160%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 0;
    opacity: 4;
}

.section1inner .slick-dots li.slick-active {
    position: relative;
    width: 20px;
}

.slick-dots li {
    width: 6px !important;
}

.section1btn button {
    padding: 6px 22px !important;
    border-radius: 10px;
}

.section1btn button:hover {
    background-color: unset !important;
}


/* Section2 starts */
.section2 {
    background-color: #ecc9ae;
    text-align: center;
    position: relative;
    z-index: 0;
    margin-top: -48px;
}

.section2::after {
    position: absolute;
    content: "";
    background-image: url("/assets/Images/section8after.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 18px;
    left: 0%;
    pointer-events: none;
}

.section2container {
    max-width: 1150px;
    margin: auto;
    padding: 102px 10px 163px 0px;
}

.section2 h3 {
    font-family: "overpass";
    font-size: 50px;
    font-weight: 700;
}

.section2 .card {
    width: 17% !important;
    border: none !important;
    background: none !important;
}

.section2 .card p {
    color: #2e2b26;
    font-family: 'overlock';
    font-size: 18px;
}

/* Section3 starts */
.section3 {
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-top: -117px;
}

.section3container {
    padding: 180px 10px 140px;
    max-width: 1149px;
    margin: auto;
}

.section3::before {
    position: absolute;
    content: "";
    background-image: url("/assets/Images/section3background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;
    left: 0%;
    opacity: 0.5;
    pointer-events: none;
}

.section3 .col-7 h6 {
    font-family: "overlock";
    font-size: 19px;
    color: #898989;
}

.section3 .col-7 h2 {
    font-family: "overpass";
    font-size: 50px;
}

.section3 .col-7 p {
    font-family: "overlock";
    font-size: 17px;
    color: #898989;
    padding: 0px 40px 0px 0px;
    line-height: 1.9em;
}

.btn-whatsapp {
    color: #674830;
    border: 1px solid #bda694;
    background: none;
    border-radius: 16px;
    padding: 10px 15px;
    font-family: "overlock";
    font-size: 19px;
}

.form-section {
    background-image: url("/assets/Images/formsection.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    margin: auto;
}

.form-section {
    color: #ffffff;
    width: 37% !important;
}

.form-section h4 {
    font-family: "overpass";
    font-weight: 700;
    font-size: 28px;
    margin-top: 40px;
}

.form-section h6 {
    font-family: "alegreyasans";
    font-size: 19px;
    font-weight: 500;
}

input.form-control {
    background-color: #997a5d;
    border: none;
    color: #ffffff;
    border-radius: 15px;
    font-family: "alegreyasans";
    font-size: 17px;
}

input.form-control:focus {
    background-color: #997a5d;
    border: none;
    color: #ffffff;
    border-color: #997a5d !important;

}

.form-section .form-control::placeholder {
    color: #f1ece9;
}

.form-section .btn {
    background-color: #a0c151;
    border: none;
    border-radius: 12px;
    font-family: "Alegreyasans";
    font-size: 19px;
    font-weight: 500;
    color: #202020;
    padding: 4px 25px;
}

.form-section .btn:hover {
    background-color: #a0c151;
    border: none;
    color: #202020;

}

input.form-check-input {
    appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    accent-color: #ffffff;
    margin-right: 10px !important;
}

.form-check-input:checked {
    background-color: #fff !important;
    border-color: #997a5d !important;
}

.form-check.mb-2 {
    display: flex;
    align-items: flex-start;
}

.offset-sm-1 {
    margin-left: 10px !important;
}

#check-check {
    margin-left: 20px;
}


/* Section4 starts */
.section4 {
    background-image: url("/assets/Images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.section4::after {
    background-image: url('/assets/Images/afterbackground.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    content: "";
    z-index: 1;
    top: 1px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.section4container {
    max-width: 1149px;
    margin: auto;
    padding: 127px 10px 190px;
}

.section4 h3 {
    font-family: "overpass";
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
}

.section4inner1 .card {
    width: 32% !important;
    text-align: left;
    overflow: hidden;
}

.section4inner1 .card-img-top {
    width: 93%;
}

.section4inner1 .card h6 {
    color: #ffffff;
    font-family: "overpass";
    font-weight: 700;
    font-size: 17px;
}

.section4inner1 .card p {
    color: #bbf1e4;
    font-family: "overlock";
    font-weight: 400;
    font-size: 17px;
    padding: 0px 35px 0px 0px;
    line-height: 1.9em;
}

.section4-btn button {
    padding: 8px 19px;
    border-radius: 12px;
    background-color: #ffffff;
    color: #2e2b26;
    border: none;
    font-family: "overlock";
    font-size: 19px;
    margin-bottom: 53px;
}

.card-body {
    margin-top: 20px;
    padding: unset !important;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.section4inner1 .image-wrapper img {
    transition: all 0.4s ease-in-out;
}

.section4 .image-wrapper button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #2e2b26;
    font-family: "overlock";
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.section4 .image-wrapper:hover img {
    filter: grayscale(100%) !important;
    transform: scale(1.05) !important;
}

.section4 .image-wrapper:hover button {
    opacity: 1;
}

.section4 .card {
    background: none !important;
    border: none !important;
}

/* Section5 starts */
.section5 {
    z-index: 0;
    position: relative;
}

.section5::before {
    position: absolute;
    content: "";
    background-image: url('/assets/Images/section5bird.png');
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    top: 4%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.section5::after {
    position: absolute;
    content: "";
    background-image: url('/assets/Images/section5birds2.png');
    background-repeat: no-repeat;
    background-position: right;
    z-index: 1;
    top: 47%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.section-container {
    background-color: #fffbf3;
}

.section5container {
    max-width: 1149px;
    margin: auto;
    padding: 114px 10px 0px;
}

.section5 h2 {
    font-family: "overpass";
    font-weight: 700;
    font-size: 50px;
}

.section5inner1 {
    margin-bottom: 80px;
}

.section5inner1 h6 {
    color: #838280;
    font-family: "overlock";
    font-size: 19px;
}

.section5inner1 h4 {
    color: #da755b;
    font-family: "overpass";
    font-weight: 700;
    font-size: 30px;
}

.section5inner1 p {
    color: #777777;
    font-family: "overlock";
    font-size: 17px;
    line-height: 1.9em;
    width: 86%;
}

.section5inner1 button.route-btn {
    font-family: "overlock";
    font-size: 19px;
    color: #2e2b26;
    border: 1px solid #bda694;
    border-radius: 12px;
    padding: 4px 25px;
    background: none;
}

.section5inner1 button.req-btn {
    font-family: "overlock";
    font-size: 19px;
    color: #2e2b26;
    border: none;
    border-radius: 12px;
    padding: 6px 22px;
    background-color: #a0c151;
}

.section5 .card {
    background: none !important;
    border: none !important;
}

/* Section6 starts */
.section6 {
    position: relative;
    z-index: 0;
}

.section6::after {
    position: absolute;
    content: "";
    background-image: url("/assets/Images/afterbackground2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0%;
    left: 0%;
    pointer-events: none;
}

.section6container {
    max-width: 1149px;
    margin: auto;
    padding: 146px 10px 172px;
}

.section6 h2 {
    font-family: "overpass";
    font-size: 50px;
    font-weight: 700;
    color: #363636;
    text-align: center;
}

.section6inner1 .card {
    width: 32% !important;
}

.section6inner1 button {
    padding: 4px 15px;
    border: 1px solid #bda694;
    border-radius: 10px;
    background: none !important;
    color: #674830;
    font-family: "overlock";
    font-size: 16px;
}

.section6inner1 .card-body strong {
    color: #674830;
    font-family: "overpass";
    font-size: 17px;
}

.section6inner1 .card-body h5 {
    font-family: "overpass";
    font-weight: 700;
    font-size: 20px;
    color: #4f4f4f;
}

.section6inner1 .card-body p {
    font-family: "overlock";
    font-size: 17px;
    color: #777777;
    line-height: 1.9em;
    padding: 0px 10px;
}

.section6-btn{
    margin-top: 60px;
}

.section6-btn button {
    padding: 6px 20px;
    background-color: #a0c151;
    border: none;
    border-radius: 12px;
    font-family: "alegreyasans";
    font-weight: 500;
    font-size: 19px;
}

.section6 .image-wrapper {
    position: relative;
}

.section6 .image-wrapper button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 25px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff !important;
    color: #2e2b26;
    font-family: "overlock";
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.section6 .image-wrapper:hover img {
    filter: brightness(100%) saturate(100%) invert(42%) sepia(54%) saturate(493%) hue-rotate(345deg) brightness(91%) contrast(97%);
}

.section6 .image-wrapper:hover button {
    opacity: 1;
}

.section6 .card {
    background: none !important;
    border: none !important;
}

.section6 img.card-img-top {
    width: 100%;
}

/* Section7 starts */
.section7 {
    background-image: url("/assets/Images/Rectangle\ 9\ copy\ 2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section7container {
    max-width: 1149px;
    margin: auto;
    padding: 128px 10px 130px;
}

.section7 h2 {
    font-family: "overpass";
    font-size: 50px;
    font-weight: 700;
}

.section7inner .card-body h6 {
    font-family: "overlock";
    font-size: 19px;
}

.section7inner .card-body h4 {
    font-family: "overpass";
    font-size: 30px;
    font-weight: 700;
    color: #b8e059;
}

.section7inner .card-body p {
    font-family: "overlock";
    font-size: 17px;
    width: 86%;
    line-height: 1.9em;
}

.section7inner button.more-btn {
    font-family: "overlock";
    font-size: 17px;
    color: #2e2b26;
    border: 1px solid #bda694;
    border-radius: 12px;
    padding: 6px 25px;
    background: #ffffff;
}

.section7inner button.req-btn {
    font-family: "overlock";
    font-size: 17px;
    color: #2e2b26;
    border: none;
    border-radius: 12px;
    padding: 8px 22px;
    background-color: #a0c151;
}

.para {
    width: 89% !important;
}

.section7 .card {
    background: none !important;
    border: none !important;
}

/* Section8 starts*/
.section8 {
    background-color: #f6dfcd;
    position: relative;
    z-index: 0;
}

.section8::after {
    position: absolute;
    content: "";
    background-image: url("/assets/Images/section8after.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
    transform: translateZ(0);
    top: 1%;
    left: 0%;
    pointer-events: none;
}

.section8container {
    max-width: 1149px;
    margin: auto;
    padding: 126px 10px 196px;
}

.review1 {
    padding: 20px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 56px !important;
}

.review1 img {
    object-fit: contain;
}

.rtext {
    font-family: "overlock";
    font-size: 17px;
    color: #777777;
    line-height: 1.9em;
}

.text p {
    font-family: "overlock";
    font-size: 15px;
    color: #777777;
}

.text h6 {
    font-family: "overlock";
    font-size: 19px;
}

.section8 h2 {
    font-family: "overpass";
    font-weight: 700;
    font-size: 50px;
}

.section8inner .slick-slide {
    margin: 0 10px;
}

.section8inner .slick-list {
    margin: 0 -10px;
}

.section8 .slick-prev i,
.section8 .slick-next i {
    color: #999999;
    font-size: 20px;
}

.section8 .slick-prev i:hover,
.section8 .slick-next i:hover {
    color: #da755b;
    font-size: 20px;
}

.section8 .slick-prev {
    left: -48px !important;
    top: 92px !important;
}

.section8 .slick-next {
    right: -41px !important;
    top: 92px !important;
}

.section8 .slick-prev:before,
.sesction8 .slick-next:before {
    content: none !important;
}

/* Section9 starts*/
.section9 {
    background-color: #fffefe;
}

.section9container {
    max-width: 1149px;
    margin: auto;
    padding: 118px 10px 141px;
}

.section9 h2 {
    font-family: "overpass";
    font-size: 50px;
    font-weight: 700;
    color: #363636;
}

.section9 .card-body p {
    font-family: "overlock";
    font-size: 18px;
    color: #2e2b26;
}

.section9 .card {
    background: none !important;
    border: none !important;
    width: 18% !important;
}

/* Section10 starts*/
.section10container {
    max-width: 1149px;
    margin: auto;
}

.section10 h2 {
    font-family: "overpass";
    font-size: 50px;
    font-weight: 700;
    color: #363636;
}

.section10 .card-title {
    font-size: 20px;
    font-family: "overpass";
    font-weight: 700;
}

.section10 .card-body p {
    font-family: "overlock" !important;
    font-size: 15px !important;
    color: #919191;
    line-height: 1.9em;
}

.section10 .card-text {
    font-family: "overlock" !important;
    font-size: 17px !important;
    width: 84%;
}

img.card-img-top {
    width: 91%;
}

.section10 .card {
    background: none !important;
    border: none !important;
}

.slick-prev i,
.slick-next i {
    color: #999999;
    font-size: 20px;
    display: block !important;
}


.slick-prev i:hover,
.slick-next i:hover {
    color: #da755b;
    font-size: 20px;
}

.slick-prev {
    left: -48px !important;
    top: 146px !important;
}

.slick-next {
    right: -16px !important;
    top: 144px !important;
}

.slick-prev:before,
.slick-next:before {
    content: none !important;
}

/* Footer starts */
.footer {
    background-image: url('/assets/Images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 135px;
    position: relative;
    z-index: -1;
}

.footer::after {
    position: absolute;
    content: "";
    background-image: url("/assets/Images/afterbackground3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0%;
    left: 0%;
    pointer-events: none;
}

.footercontainer {
    max-width: 1250px;
    margin: auto;
    padding: 90px 10px 29px;
}

.footer-1 {
    width: 35% !important;
}

.foot {
    height: 168px;
}

.footer h5 {
    font-family: "overpass";
    font-size: 25px;
    font-weight: 700;
    color: #a0c151;
}

.footer ul li,
p {
    font-family: 'overlock';
    font-size: 17px;
    color: #b99a83;
}

.footer h4 {
    color: #a0c151;
    font-family: "overpass";
    font-size: 20px;
    font-weight: 700;
}

.footer .copywrite span {
    color: #a0c151;
}

.footer .info span {
    color: #ffffff;
}

.info-item1 span {
    font-weight: 700;
}

.footer .btn {
    background-color: #a0c151;
    border: none;
    padding: 6px 20px;
    border-radius: 12px;
    font-family: "overlock";
    font-size: 19px;
}

.newsletter {
    width: 30% !important;
}

.border-top {
    background-color: #3e3128;
}

.footer hr {
    height: 1px;
    width: 100%;
}

.fa-envelope-open,
.fa-phone-volume {
    color: #a0c151;
    font-size: 12px;
    margin-right: 8px;
}

.fa-chevron-right {
    font-size: 10px;
}

.foot,
.info {
    position: relative;
}

.foot::after {
    position: absolute;
    content: "";
    background: #674830;
    top: 6%;
    left: 98%;
    height: 152px;
    width: 1px;
}

.info::after {
    position: absolute;
    content: "";
    background: #674830;
    top: -56%;
    left: 106%;
    height: 152px;
    width: 1px;
}

.newsletter.col-md-5.offset-md-1.mb-5{
    width: unset !important;
}

/* Tablet Responsive */
@media only screen and (max-width:1024px) {

    .section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6,
    .section7,
    .section8,
    .section9,
    .section10,
    .footer {
        width: 100%;
    }

    .nav-item i,
    hr {
        display: none;
    }

    nav.navbar.navbar-expand-lg {
        width: 90% !important;
    }

    li.nav-item {
        margin-left: unset !important;
    }

    .navbar-expand-lg .navbar-nav {
        margin-left: 28px;
        font-size: 14px;
    }

    .navbar-collapse {
        position: absolute;
        top: 81%;
        left: 40%;
        width: 50%;
        right: 0%;
        background-color: white;
        z-index: 999;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .navbar-collapse ul.navbar-nav {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .navbar-collapse .nav-link,
    .navbar-collapse i {
        color: #000 !important;
    }

    .navbar-collapse .dropdown-menu {
        background-color: white !important;
    }

    .navbar-collapse .dropdown-item {
        color: #000;
    }

    .navbar-collapse .close-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        background: none;
        border: none;
    }

    /* Section1 starts */
    .slick-dots {
        display: none !important;
    }

    .section1 h2 {
        font-size: 40px;
    }

    .content h6 {
        font-size: 14px;
    }

    .section1inner2 span {
        font-size: 14px;
    }

    .section1 .inner1hr {
        display: block;
    }

    /* Section2 starts */
    .section2container {
        padding: 70px 10px;
    }

    .section2 h3 {
        font-size: 40px;
    }

    .section2gallery {
        flex-wrap: wrap;
    }

    .section2 .card p {
        font-size: 17px;
        margin-bottom: 30px;
        text-align: center;
    }

    .section2 img.card-img-top {
        width: 100% !important;
    }

    .section2 .card {
        width: 33% !important;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    /* Section3 starts */
    .section3container {
        padding: 70px 10px;
    }

    .section3 .col-7 h6 {
        font-size: 15px;
    }

    .section3 .col-7 h2 {
        font-size: 40px;
    }

    .section3 .col-7 p {
        font-size: 14px;
        padding: 0px 10px 0px 0px;
    }

    .form-section {
        margin-top: 70px !important;
    }

    .form-section h4 {
        font-size: 24px;
    }

    .form-section h6 {
        font-size: 15px;
    }

    input.form-control {
        font-size: 14px;
    }

    .row.justify-content-between.flex-lg-nowrap.align-items-center {
        margin-top: 20px;
        width: 100%;
    }

    #check-check {
        margin-left: unset !important;
    }

    .form-section .row {
        flex-direction: column;
    }

    .form-section .col-6 {
        width: 100% !important;
    }

    /* Section4 starts */
    .section4container {
        padding: 70px 10px;
    }

    .section4inner1 {
        padding-left: 10px;
    }

    .section4 h3 {
        font-size: 40px;
    }

    .section4inner1 .card h6 {
        font-size: 14px;
    }

    .section4inner1 .card p {
        font-size: 14px;
        padding: 0px 10px 0px 0px;
    }

    .section4inner1 .card {
        width: 50% !important;
    }

    /* Section5 starts */
    .section5container {
        padding: 70px 10px;
    }

    .section5inner1 {
        padding-left: 10px;
    }

    .section5 h2 {
        font-size: 40px;
    }

    .section5inner1 {
        margin-bottom: 70px;
    }

    .section5inner1 h6 {
        font-size: 15px;
    }

    .section5inner1 h4 {
        font-size: 24px;
    }

    .section5inner1 p {
        font-size: 14px;
        line-height: 1.5em;
        width: 86%;
    }

    img.img-fluid {
        width: 50%;
    }

    /* Section6 starts */
    .section6container {
        padding: 10px 10px 70px;
    }

    .section6inner1 {
        padding-left: 10px;
        flex-wrap: wrap;
        justify-content: space-around !important;

    }

    .section6 .card {
        width: 40% !important;
        margin-bottom: 20px;
    }

    .section6 h2 {
        font-size: 40px;
    }

    .section6inner1 .card-body strong {
        font-size: 14px;
    }

    .section6inner1 .card-body h5 {
        font-size: 16px;
    }

    .section6inner1 .card-text p {
        font-size: 14px;
        width: 100%;
    }



    /* .section6 .card-body {
        margin-right: 30px !important;
    } */

    .section6-btn button {
        margin-bottom: 50px;
    }

    /* Section7 starts */
    .section7container {
        padding: 70px 10px;
    }

    .section7inner {
        padding-left: 10px;
    }

    .section7 h2 {
        font-size: 40px;
    }

    .section7inner .card-body h6 {
        font-size: 15px;
    }

    .section7inner .card-body h4 {
        font-size: 24px;
    }

    .section7inner .card-body p {
        font-size: 17px;
        width: 100% !important;
    }

    /* Section8 starts */
    .section8container {
        padding: 70px 10px;
    }

    .section8::after {
        top: 3%;
    }

    .rtext {
        font-size: 17px;
    }

    .text p {
        font-size: 13px;
    }

    .text h6 {
        font-size: 15px;
    }

    .section8 h2 {
        font-size: 40px;
    }

    .section8 .slick-prev i,
    .section8 .slick-next i {
        display: none !important;
    }

    /* Section9 starts */
    .section9container {
        padding: 70px 10px;
    }

    .section9gallery {
        flex-wrap: wrap;
    }

    .section9 .card {
        width: 33% !important;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    .section9 h2 {
        font-size: 40px;
    }

    .section9 .card-body p {
        font-size: 17px;
        margin-bottom: 20px;
    }

    /* Section10 starts */
    .section10container {
        padding: 40px 10px;
    }

    .section10 h2 {
        font-size: 40px;
    }

    .section10 .card-title {
        font-size: 16px;
    }

    .section10 .card-body p {
        font-size: 13px;
    }

    .section10 .card-text {
        font-size: 14px !important;
    }

    .section10 .slick-prev i,
    .section10 .slick-next i {
        display: none !important;
    }

    /* Footer starts */
    .footer {
        margin-top: unset !important;
    }

    .footercontainer {
        padding: 70px 10px;
    }

    .footer h5 {
        font-size: 23px;
    }

    .footer ul li,
    p {
        font-size: 14px;
    }

    .footer h4 {
        font-size: 16px;
    }

    .fa-envelope-open,
    .fa-phone-volume {
        font-size: 10px;
    }

    .footer hr {
        display: block;
    }

    .row {
        justify-content: center
    }

    .foot::after,
    .info::after {
        display: none !important;
    }

    .footer .footer-1,
    .footer .footinfocol {
        width: 50% !important;
    }

    .footer .row .footer-1 h5 {
        text-align: center;
    }

    .offset-md-1 {
        margin-left: unset !important;
        width: 50% !important;
    }

    .newsletter.col-md-5.offset-md-1.mb-5{
        width: 100% !important;
    }
    .footer .btn{
        width: 100% ;
    }

    footer input.form-control{
        height: 57px;
    }

    footer form h5{
        text-align: center;
    }

    .foot-img.mt-4{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Mobile Reponsive */
@media only screen and (max-width:767px) {

    .section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6,
    .section7,
    .section8,
    .section9,
    .section10,
    .footer {
        width: 100% !important;
    }

    .section1container,
    .section2container,
    .section3container,
    .section4container,
    .section7container,
    .section8container,
    .section9container,
    .section10container,
    .footercontainer {
        padding: 50px 10px !important;
    }

    nav.navbar.navbar-expand-lg {
        width: 90% !important;
    }

    .navbar-collapse {
        position: absolute;
        top: 81%;
        left: 0%;
        right: 0%;
        width: 100%;
    }

    .navbar-collapse .close-btn {
        top: -7px !important;
        right: 5px !important;
    }

    /* Section1 starts */
    .section1 h2 {
        font-size: 30px;
    }

    .content h6 {
        font-size: 14px;
    }

    .section1inner2 span {
        font-size: 14px;
    }

    .slick-dots {
        right: -49% !important;
        top: 50%;
    }

    .section1 .text-center {
        padding: 50px 0px 0px;
    }

    .section1inner2 {
        top: 46px;
        flex-direction: column;
    }

    .contact-item {
        flex-direction: row;
        justify-content: center;
    }

    .section1 .inner1hr {
        display: none;
    }

    /* Section2 starts */
    .section2 h3 {
        font-size: 30px;
        padding: 50px 0px 10px;
    }

    .section2 .card p {
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
    }

    .section2gallery {
        flex-direction: column;
        justify-content: center;
    }

    .section2 .card {
        width: 100% !important;
    }

    .section2 img.card-img-top {
        width: 100% !important;
    }

    .section2::after {
        top: 2px !important;
    }

    /* Section3 starts */
    .section3 .col-7 h6 {
        font-size: 14px;
    }

    .section3 .col-7 h2 {
        font-size: 30px;
    }

    .section3 .col-7 p {
        font-size: 14px;
        padding: 0px 10px 0px 0px;
    }

    .form-section h4 {
        font-size: 22x;
    }

    .form-section h6 {
        font-size: 16px;
    }

    input.form-control {
        font-size: 14px;
    }

    .section3 .row {
        flex-direction: column;
        margin-top: 50px !important;
    }

    .section3 .col-7 {
        width: 100% !important;
        padding: 50px 0px 0px;
        text-align: center;
    }

    .section3 .form-section {
        width: 100% !important;
    }

    .section3btn {
        justify-content: center;
        width: 100%;
    }

    .section3 .form-section .row {
        margin-top: 10px !important;
        align-items: center;
    }

    #check-check {
        margin-left: unset !important;
    }

    .col-sm-10.d-flex.justify-content-start {
        justify-content: center !important;
        width: 100% !important;
    }

    .container.text-left {
        display: flex;
        justify-content: center;
    }

    .section3 button.btn.btn-primary.mb-3{
        width: 100%;
    }

    /* Section4 starts */
    .section4inner1 {
        padding-left: unset !important;
        flex-direction: column;
        align-items: center !important;
    }

    .section4inner1 .card {
        text-align: center;
    }

    .section4 h3 {
        font-size: 30px;
    }

    .section4inner1 .card h6 {
        font-size: 14px;
    }

    .section4inner1 .card p {
        font-size: 14px;
        padding: 0px 10px 0px 0px;
    }

    .section4 .card-body {
        text-align: center;
    }

    .section4 .card {
        margin-bottom: 30px;
        width: 100% !important;
    }

    .section4 .image-wrapper button {
        top: 35%;
    }

    .section4::after {
        top: 2px;
    }

    .section4inner1 .card-img-top {
        width: 100% !important;
    }

    .section4-btn {
        margin-top: unset !important;
    }

    /* Section5 starts */

    .section5container {
        padding: 50px 10px 0px;
    }

    .section5 h2 {
        font-size: 30px;
    }

    .section5inner1 h6 {
        font-size: 14px;
    }

    .section5inner1 h4 {
        font-size: 22px;
    }

    .section5inner1 p {
        font-size: 14px;
    }

    .section5inner1 {
        flex-direction: column;
        padding: 0px 10px;
    }

    .section5 .card-body {
        width: 100% !important;
    }

    .section5 .card {
        margin-left: unset !important;
    }

    .section5 .card,
    .section5 .card-text {
        width: 100% !important;
        text-align: center;
    }

    .section5 img.img-fluid {
        width: 100% !important;
    }

    .section5inner1 button.req-btn {
        margin-bottom: 20px;
    }

    /* Section6 starts */
    .section6container {
        padding: 0px 10px 50px;
    }

    .section6 h2 {
        font-size: 30px;
    }

    .section6inner1 .card-body strong {
        font-size: 14px;
    }

    .section6inner1 .card-body h5 {
        font-size: 15px;
    }

    .section6inner1 .card-body p {
        font-size: 14px;
        width: unset !important;
    }

    .section6inner1 {
        flex-direction: column;
        align-items: center;
        padding-left: unset !important;
    }

    .section6 .card {
        width: 100% !important;
    }

    .section6 .card-body {
        text-align: center;
        justify-content: space-around !important;
        margin-right: unset !important;
        margin-bottom: 20px;
    }

    .section6-btn.d-flex.justify-content-center {
        margin-top: unset !important;
    
    }

    .section6 img.card-img-top {
        width: 100% !important;
    }

    .section6 .card-text {
        padding-right: unset !important;
    }

    /* Section7 starts */
    .section7 h2 {
        font-size: 30px;
    }

    .section7inner .card-body h6 {
        font-size: 15px;
    }

    .section7inner .card-body h4 {
        font-size: 22px;
    }

    .section7inner .card-body p {
        font-size: 17px;
        width: 100% !important;
    }

    .section7inner {
        flex-direction: column;
    }

    .section7 .card {
        width: 100% !important;
        margin-left: unset !important;
    }

    .section7 .card-body {
        text-align: center;
    }

    .section7 .card-text {
        width: 100%;
        text-align: center;
    }

    .section7 img.img-fluid {
        width: 100% !important;
        margin-top: 20px;
    }

    .section7inner {
        padding-left: unset !important;
    }

    /* Section8 starts */
    .rtext {
        font-size: 17px;
    }

    .text p {
        font-size: 13px;
    }

    .text h6 {
        font-size: 14px;
    }

    .section8 h2 {
        font-size: 30px;
    }

    .section8 .slick-dots {
        display: none !important;
    }

    .section8::after {
        top: 1%;
    }

    /* Section9 starts */
    .section9 h2 {
        font-size: 30px;
    }

    .section9 .card-body p {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .section9gallery {
        flex-direction: column;
        align-items: center;
    }

    .section9 .card {
        width: 100% !important;
    }

    .section9 img.card-img-top {
        width: 100% !important;
    }

    /* Section10 starts*/
    .section10 h2 {
        font-size: 30px;
    }

    .section10 .card-title {
        font-size: 15px;
    }

    .section10 .card-body {
        text-align: center;
    }

    .section10 .card-body p {
        font-size: 13px;
        text-align: center;
        width: 100%;

    }

    .section10 .card-text {
        font-size: 14px !important;
        text-align: center;
    }

    .section10 .slick-dots {
        display: none !important;
    }

    .section10 img.card-img-top {
        width: 95% !important;
    }

    .section10 .card {
        display: flex;
        align-items: center;
    }

    /* Footer starts */
    .footer {
        margin-top: unset !important;
    }

    .footer h5 {
        font-size: 20px;
        text-align: left !important;
    }

    .footer ul li,
    p {
        font-size: 14px;
    }

    .footer h4 {
        font-size: 15px;
    }

    .fa-envelope-open,
    .fa-phone-volume {
        font-size: 10px;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-1,
    .footer .footinfocol,
    .footer .newsletter {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px !important;
    }

    .footer .btn {
        width: 100%;
    }

    .foot::after,
    .info::after {
        display: none !important;
    }

    .copytext.d-flex.justify-content-between.mt-4 {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    footer input.form-control {
        height: 45px;
    }

    footer .foot-img {
        display: flex;
        justify-content: center;
    }

    footer form {
        margin-top: 10px !important;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .navbar-collapse {
        display: flex !important;
        flex-basis: auto !important;
        height: auto !important;
        position: static !important;
        box-shadow: none !important;
        padding: 0 !important;
        background-color: transparent !important;
    }

    .navbar-collapse ul.navbar-nav {
        flex-direction: row !important;
        align-items: center !important;
        font-size: 13px !important;
    }

    .navbar-collapse .nav-link,
    .navbar-collapse i {
        color: white !important; /* Since background is transparent */
    }

    .navbar-collapse .close-btn {
        display: none !important;
    }

    .navbar-toggler {
        display: none !important;
    }
}

@media only screen and (max-width:1120px) {
    .navbar-expand-lg .navbar-nav{
        font-size: 14px !important;
    }
    li.nav-item.ms-3 {
        margin-left: unset !important;
    }

    .navbar hr {
        display: none !important;
    }

    a.nav-link.text-white.me-3 {
        margin-right: unset !important;
    }

    .slick-dots {
        right: -72% !important;
    }

    .section2container {
        padding: 102px 10px 163px 10px;
    }

    .section2 .card {
        align-items: center;
    }

    .section2 .card-text {
        padding-right: unset !important;
    }
}